body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/blurry\ map.jpg);
    background-color: lightsteelblue;
    background-attachment: fixed;
    background-size: cover;
    position: static;
    overflow: hidden;
    
}

.header {
    width: 100%;
    height: 60px;
    margin-top: 4px;
    margin-bottom: 6px;
    display: flex;
    align-content: space-between;
    /* background-color: lightsteelblue; */
    border-radius: 2px;
    border-style: none;
}

.header h2 { /* this is for the Map tag*/
    margin: 0;
    width: 600px;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border-style: none;
    border-bottom-style: solid;
    border-color: steelblue;
    background-color: lightsteelblue;
}

.history h3 {   /*This is for the places tag*/
    margin: 0 0 0 2px;
    padding: 8px 20px 8px 20px;
    width: 100px;
    /* height: 30px; */
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border-style: none;
    border-bottom-style: solid;
    border-color: steelblue;
    background-color: lightsteelblue;
}

.main {
    display: flex;
    justify-content: flex-start;
}

#mapid {
    width: 600px;
    height: 400px;
    box-shadow: 0px 1px 6px 1px black;
}

.history {
    width: auto;
    padding: 0 10px 10px 10px;
}

#overflow {
    height: 13vh;
    overflow-y: scroll;
    overflow-y: auto;
    border-radius: 5px;;
    
}

th {
    margin: 10px 10px 10px 10px;
    border-radius: 3px;
    border-style: none;
    border-bottom-style: solid;
    border-color: steelblue;
    background-color: lightsteelblue;
}

.wrapper {
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: linen;
    box-shadow: 0px 1px 6px 1px black;
    clear: both     ;

}

form {
    padding: 10px 10px 5px 10px;
    display: flex;
    /* border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    border-color: steelblue; */
}

input {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px;
    width: 10em;
    border-radius: 2px;
}

form p:nth-of-type(1) {
    margin-top: 0;
}

.controls form p {
    /* padding-top: 5px; */
    padding-bottom: 10px;
    margin: 0;

}

.controls {
    margin-top: 10px;
    width: 600px;
}

.submit {
    width: 10em;
    height: 3em;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    background-color: lightgreen;
}

.submit:hover {
    height: 3em;
    width: 10em;
    box-shadow: 0 0 0 2px steelblue;
}

#button {
    margin: 0 0 0 30px;
}

.tableLinks td {
    color: blue;
}

.tableLinks td:hover {
    cursor: pointer;
}

